div.encabezado{
    font-family: Arial, Helvetica, sans-serif;
}
div.navegacion{
    font-family: Arial, Helvetica, sans-serif;
}
div.cuerpo{
    font-family: Arial, Helvetica, sans-serif;
}
div.piepagina{
    font-family: Arial, Helvetica, sans-serif;
}